h1, h2, h3, h4, h5, h6 {
    line-height: 1.3;}


/* start nav */

body{    font-family: 'Source Sans Pro', sans-serif;

}
nav{

    padding-top: 1.563rem;
    padding-bottom: 1.563rem;
    
}
nav i{color: #fff;}
.navbar-content a{color: #fff;
}

.logo img{max-height: 40px;}
  
.navbar-nav{flex-direction: row;
}

.menuu li{
    list-style: none;
    display: inline-block;
    padding-left: 20px;
    padding-top: 20px ;

}

.navbar-nav li{
    padding-left: 20px;
}

/* end nav */



/* start carosel */
.carosel h1{color: #fff;}




/* end carosel */


/* start home */

.content h6{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.05em;
    margin-top: 0;

}

.content p{
        font-size: 24px;
        margin: 20px 0;
        font-weight: 300;
    }

    .content{
        margin-bottom: 50px;
    }
    /* end home */


/* start split */


.bg-img{
    background-image: url(../images/asset47.jpeg);
    background-size: cover;
    background-position: center center  ;
    height: 600px;
}

.split{
    border-top: 1px solid #eee;
    border-top: 1px solid #eee;

}

.split ul{    margin-bottom: 25px;}

.split li a{text-transform: uppercase;
    margin-right: 20px;
    letter-spacing: 0.1em;
    font-size: 11px;
    border-radius: 0;
    font-weight: 500;padding: 10px 15px;}
.contents li{
    display: inline-block;
    padding-left: 30px;
    padding-top: 50px;
}
.contents li a{
    color: #1f1f1f;

}
.contents ul{
    list-style: none;
}
.split p{color: #787878;
    font-weight: 400;
    font-size: 16px; line-height: 28px; margin-bottom: 10px;}

 .split .btn.btn-bordered {
    line-height: 48px;
    border-width: 1px;}  
    .split .btn.upper {
        font-weight: 500;
        font-size: 11px;
        letter-spacing: 0.05em;
    }
    .split .btn.btn-bordered {
        color: #1f1f1f;
        border-color: #dedede;
        background-color: transparent;
    }

    .split .btn {
        position: relative;
        padding: 0 30px;
        height: 50px;}
.split .btn-bordered:hover{
    background-color: #1f1f1f;
    border-color: #1f1f1f;
    color: #fff;

}
 /* end split */


 /* start team */
 .team{    padding-top: 110px;
    padding-bottom: 110px;}
 .team-title{
    position: relative;
    


}

.team-title h2{
    font-size: 70px;
    opacity: .06;
    font-weight: 700;
    position: absolute;
    bottom: 20%;
    margin-bottom: 10px;

}

.team-title h3{
    
    font-size: 38px;
    letter-spacing: -1px;
    font-weight: 700;
    
}


.team .title2 h4{
    
    font-weight: 400;
    font-size: 18px;

    color: #787878;
}
.team-img{
    overflow: hidden;
    position: relative;
}

.slider{
    width:100%;
    height: 100%;
    position: absolute;
    top:10%;
   left:0%;
   transition:0.3s all ease;
   background-color: rgba(0, 195, 218, 0.9);   
   opacity: 0;
}

.team-img:hover .slider{
    top:0%;
    opacity: 1;
}

.team-social{list-style: none;


}
.team-social li{
    display: inline-block;
}

.team-info{
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;}

    .team-social {
        color: #fff;
        padding: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        margin-top: 0;}
.team .container-fluid{
    padding: 0 !important;
}
.team .row{
margin: 0 !important;
}
.team-social i{
    color: #fff;
    padding: 20px 10px;
}
.team-footer{    padding: 20px 0;}
.team-footer h4{
    color: #fff;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 600;
}
.team-footer span{
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
}
  /* start what we do */

  .whatwedo .title{position: relative;}
  .whatwedo h1{
      position: absolute;
      bottom: -30%;
      left: -3%;
  
      font-size: 70px;
    opacity: .06;
    font-weight: 700;
    
  }
  .whatwedo h2{
    font-size: 38px;
    letter-spacing: -1px;
    font-weight: 700;
  }

 .bg-img2{

    background-image: url(../images/asset48.jpeg);
    background-size: cover;
    background-position: center center;
 }
            
 .whatwedo
 {
    position: relative;
    color: #fff;
    padding-top: 110px;
    padding-bottom: 110px;
}
 .overlayer{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #1f1f1f;
    opacity: 0.7;
 }
 .upper{
    color: #fff;
font-size: 13px;
}
.icon-box{
    padding: 0 10px;
    text-align: center;

}
.icon-box i{
    padding: 10px 0px;
    font-size: 3.5rem;
    font-weight: 200;
    color: #fff;
}

.whatwedo li{
    list-style: none;
    margin-bottom:10px ;
}
.whatwedo ul{
    margin-top: 10px ;
}
.upper{
    font-size: 13px;
    letter-spacing: 0.1em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;

}
   /* end what we do */







/*start of works */

.works{
    padding-top: 110px;
}

.work-title{
    position: relative;
    


}
.work-title h2{
    font-size: 70px;
    opacity: .06;
    font-weight: 700;
    position: absolute;
    bottom: -25%;
    margin-bottom: 10px;

}

.work-title h3{
    
    font-size: 38px;
    letter-spacing: -1px;
    font-weight: 700;
    
}
hr{
    margin: 20px auto 15px;
    border-color: #1f1f1f;    
height: 0;
border-top: 1px solid #eee;
    border-color: #1f1f1f;
width:50px;
transition: all 0.4s ease;

}
.work-title:hover hr{
    width: 80px;}


.filters
{
    list-style: none;
text-align: center;

}

.works li{
    display: inline-block;
    padding-left: 30px;
}

.works ul{
    margin:10px auto;

    
}

.mt-30{
    margin-top: 30px;
}

.work-items{    
    position: relative;
    overflow: hidden;
}
.work-items img{
    transition: transform 1s ease;
}


.work-items:hover img{
    transform: scale(1.08);
    
}


.work-item-content{
    position: absolute;
    top:auto;
    right: 30px;
    bottom: 30px;
    left: 30px;
    padding: 25px;
    transition:0.5s all;  

       background-color:#fff;
       opacity: 0;
  transform: translateY(35px);
       
    }

.work-items:hover .work-item-content{
        opacity: 1;
        transform: translateY(0px);


    }
/*end  of works */















/*start  of pricess */

.prices{
    background-color: #f7f7f7;
    padding-top: 110px;
    padding-bottom: 110px;
}

.prices-title{
    position: relative;
    


}
.prices-title h2{
    font-size: 70px;
    opacity: .06;
    font-weight: 700;
    position: absolute;
    bottom: -25%;
    margin-bottom: 10px;

}

.prices-title h3{
    
    font-size: 38px;
    letter-spacing: -1px;
    font-weight: 700;

}

.prices .title2 h4{
    
    font-weight: 400;
    font-size: 18px;
    color: #787878;
}


.pricing-item{
    padding: 45px 35px;
    margin: 50px auto 25px;
    background-color: #fff;
    position: relative;

}


.price-head h4{
    font-size: 13px;
    margin: 0;
    font-weight: 400;
}


.price h2{
    font-size: 55px;
    font-weight: 500;
    letter-spacing: -3px;
    margin: 0;
}

.price h2 span{font-size: 18px;
    font-weight: 400;
    vertical-align: top;}


.price{
    padding: 15px 0;
    border-bottom: 1px solid #eee;
}

.features{
    list-style: none;

}

.features li{
    font-size: 16px;
    padding: 8px 0;
    padding-left: 0;
}
.features span{
    color: #787878;
    font-weight: 400;
}

.prices ul{
    padding-left: 0 ;
}
.prices .btn-sm{
    padding: 0 16px;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background-color: #00c3da;
    
}

.prices .featured h2{
    color: #00c3da;
    
}

.featured{
    position: absolute;
    z-index: 20;
    transform: scale(1.08);
}

.featured-label{

    position: absolute;
    top: 40px;
    right: 35px;
    font-family: 'Poppins', sans-serif;
    font-size: 9px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    background-color: #00c3da;
    color: #fff;
    padding: 5px 10px;
    border-radius: 15px;
}
/*start of last  */


.last{
    border-top: 1px solid #eee;
    border-top: 1px solid #eee;

}

.last h2{
    font-size: 38px;
    letter-spacing: -1px;
    font-weight: 700;
    line-height: 1.3;
    margin:20 0 10 0;
    position: relative;
}

.last h2::before{
    content: "G";
    font-size: 2em;
    opacity: .06;
    position: absolute;
    top: -0.5em;
    left: -0.1em;
    text-align: center;
    text-transform: uppercase;
}

.last h4{
    font-weight: 400;
    font-size: 18px;
    color: #787878;

    margin: 10 0;

}

.last .btn{
    padding: 0 30px;
    height: 50px;
    line-height: 50px;
    border-radius: 4px;
    border-width: 0;
    font-size: 14px;
    font-weight: 600;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    font-family: 'Poppins', sans-serif;
    letter-spacing: -0.04em;
    overflow: hidden;
    color: #fff;
    background-color: #00c3da;
}
.btn:hover{
    background-color: #00d5ee;
    color: #fff;
    transform: translateY(-1px);
}
.form-control{
    
        height: 50px;
        padding: 0 15px;
        font-size: 15px;
        line-height: 50px;
        border: 2px solid #eee;
        border-radius: 0;
        box-shadow: none;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
    }

    .form-group textarea{
        resize: none;
    min-height: 110px;
    line-height: inherit;
    padding-top: 15px;
    padding-bottom: 15px;
    }
/*end of last  */


/*testimonials  */


.testimonials .bg-grey{
    background-color: #f1f1f1;
}
.testimonials .test-content
{
   
margin: auto;
background-color: #fff;
    padding: 75px 100px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05);
    max-width: 750px;
    margin: 50px auto;
    text-align: center;
    border-radius: 10px;

}

.testimonials img{
 
    width: 100px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -125px;
}
.testimonials .test h6{text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.05em;
    margin-top: 0;
    margin-bottom: 5px;}

    .testimonials-title{
        padding:35 0 0 0;
    }

/*end of testimonials  */
